<ion-view view-title="Home">

<ion-nav-bar class="bar-calm">
     
</ion-nav-bar>

  <ion-content>

    <br/><br/>

      <table width="100%">
        <tr>
          <td width="50%" align="center">
            <a class="button" href="#/app/estrato/1"><img src="img/book.png" height="100px;" width="100px;"/></a>  
          </td>
        
          <td width="50%" align="center">
            <a class="button" href="#/app/geral"><img src="img/lupa.png" height="100px;" width="100px;"/></a>
          </td>
        </tr>
      </table>

      <br/>
      <br/>

      <table width="100%">
        <tr>
          <td width="50%" align="center">
            <a class="button" href="#/app/favorito"><img src="img/favorito.png" height="100px;" width="100px;"/></a>  
          </td>

          <td width="50%"></td>
        </tr>
      </table>

  </ion-content>
</ion-view>

<div class="tabs tabs-icon-top">
  <a class="tab-item" href="#/app/area_avaliacao">
    <i class="icon ion-home"></i>
    Home
  </a>
  
  <a class="tab-item" href="#/app/sobre">
    <i class="icon ion-information-circled"></i>
    Sobre
  </a>
</div>


