<ion-view view-title="Sobre o APP">

<ion-nav-bar class="bar-calm">
     
</ion-nav-bar>

  <ion-content>
    
  	<div class="list card">
	    <div class="item item-divider">Qualis Odonto</div>
	    <div class="item item-body">
	      <div>
	        Sistema voltado para Odontologia, que consulta periódicos de acordo com sua qualificação na Web Qualis - CAPES. 
	      </div>
	    </div>
	</div>

    <div class="list card">
	    <div class="item item-divider">Valthierre Nunes de Lima</div>
	    <div class="item item-body">
	      <div>
	        Este APP iniciou-se a partir da idéia do cirurgião-dentista Valthierre Nunes de Lima. Graduado em Odontologia pela Faculdade Católica Rainha do Sertão (FCRS) e especialista em Cirurgia e Traumatologia Bucomaxilofacial pela UNIPÊ, Valthierre Nunes de Lima está cursando atualmente o Mestrado em Cirurgia e Traumatologia Bucomaxilofacial na Faculdade de Odontologia de Araȧtuba - UNESP.
	      </div>
	    </div>
	</div>

	<div class="list card">
	    <div class="item item-divider">A2DM - Software</div>
	    <div class="item item-body">
	      <div>
	        Este APP foi desenvolvido pela empresa A2DM. Esta empresa é especializada em desenvolvimento de softwares para qualquer plataforma. Contate-nos pelo e-mail cdiego.lima@gmail.com ou pelo telefone: (85) 981891077. <a href="http://www.a2dm.com.br">www.a2dm.com.br</a>
	      </div>
	    </div>
	</div>
	
	<div style="heigth: 20px;">
        .:.   A2DM - Softwares .:.
    </div>
  </ion-content>
</ion-view>

<div class="tabs tabs-icon-top">
    <a class="tab-item" href="#/app/area_avaliacao">
      <i class="icon ion-home"></i>
      Home
    </a>

    <a class="tab-item" href="#/app/sobre">
      <i class="icon ion-information-circled"></i>
      Sobre
    </a>
  </div>

